font-family: 'Lobster', cursive;

.mainDiv{
    height: 100vh;
    width: 100%;
    position: relative;
    background-color: darkslateblue;
}

.centerDiv{
  top: 50%;
  left: 50%;
  transform: translate(-50% , -50%);
  position: absolute;
  text-align: center;
  text-decoration: yellowgreen;
}

.mainbtn{
   padding: 10px 20px;
   border-radius: 20px;
   border: 5px solid #2980b9;
   background: #ecf0f1;
   font-size: 1rem;
}

h1{
    text-transform: capitalize;
    margin-bottom: 30px;
    color: darkslategrey;
    text-shadow: 1px 2px 3px #fff;
    font-size: 2.1rem;
    font-family: 'Lobster', cursive;
}

h2 {
    text-align: center;
    color: indigo;
}

textarea{
    background-color: #444;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 5);
    border-radius: 10px 10px 0px 0px;
    border: 20px #34495e;
    color: white;
    font-size: 1.3rem;
    font-family: 'Times New Roman', Times, serif;

}

body{
    background-image: url("alex-lvrs-Md6_qA-BMis-unsplash.jpg");
    background-size: cover;

}